@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gilroy";
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  border: 0;
}
img {
  max-width: 100%;
}

.container {
  max-width: 1600px;
  padding: 0 50px;
  margin: 0 auto;
}

.header .wrapper-top {
  background-color: #20242d;
  padding: 10px 0;
}
.header .address {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  text-align: left;
  color: #fff;
  letter-spacing: 0em;
}
.header .contacts {
  display: flex;
}
.header .contacts a {
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  color: #fff;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
.header .wrapper-bottom {
  background-color: #fff;
  padding-top: 12px;
  padding-bottom: 11px;
}
.header .wrapper-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navigation li {
  margin-right: 56px;
}
.header .navigation li:last-child {
  margin-right: 0;
}
.header .navigation a {
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #20242d;
}
.header .navigation .active {
  color: #ff7129;
}
.header .navigation .active::before,
.header .navigation .active::after {
  content: "";
}
.header .wrapper-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .contacts {
  display: flex;
  justify-content: start;
}
.header .contacts li {
  margin-right: 57px;
}
.header .contacts li:last-child {
  margin-right: 0;
}
.start__screen {
  background: url(../img/main-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 270px;
  padding-bottom: 138px;
}
.start__screen .main-title {
  font-size: 92px;
  font-style: normal;
  font-weight: 700;
  line-height: 111px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}
.start__screen .slogan {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;

  text-align: center;
  color: #fff;

  max-width: 485px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 59px;
}
.start__screen .btn {
  margin: 0 auto 106px;
}
.btn {
  background: #ff7129;
  box-shadow: 0px 4px 28px 0px #ff71294a;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;

  display: block;
  width: 188px;
  padding: 16px 40px;
}
.start__screen .btn-scroll {
  display: block;
  background: rgba(123, 126, 133, 0.4);
  width: 46px;
  height: 46px;
  margin: 0 auto;
  border-radius: 50%;
}
/* Main */
.main {
  background-image: url(../img/main-info-bg.png);
  background-repeat: no-repeat;
  background-size: 1400px 1055px;
  background-position: 0 0;

  padding-top: 132px;
  padding-bottom: 115px;
}
.main .container {
  padding: 0 200px;
}
.main .title {
  margin-top: 0;
  margin-bottom: 64px;
}
.title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #20242d;
  margin-bottom: 61px;

  border-left: 1px solid #ff7129;
  padding-left: 16px;
}
.main__wrapper {
  display: flex;
}
.main__img {
  margin-right: 65px;
}
.main__info {
  max-width: 535px;
  padding-top: 69px;
}
.main__info-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  padding-bottom: 20px;
}

.footer {
  background-color: #20242d;
}
.footer .wrapper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 58px;
  padding-bottom: 52px;
}
.footer .navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .navigation li {
  margin-right: 56px;
}
.footer .navigation li:last-child {
  margin-right: 0;
}
.footer .navigation a {
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.footer .navigation .active {
  color: #ff7129;
}
.btn-dark {
  background-color: #20242d;
  border: 1px solid #ff7129;
  box-shadow: 0px 4px 28px 0px #ff7129;
}
.footer .wrapper-bottom {
  display: flex;
  justify-content: space-between;

  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(123, 126, 133, 0.3);
}
.wrapper-bottom a {
  font-family: "Gilroy";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;

  color: #7b7e85;
}
/*-----------------------------*/
/* About.html */

.start__screen-about {
  background: url(../img/about-title-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 200px;
  padding-left: 217px;
  padding-bottom: 103px;
  margin-bottom: 80px;
}
.start__screen-about .main-title {
  font-family: "Gilroy";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;

  color: #fff;
  border-left: 1px solid #ff7129;
  padding-left: 16px;
}
.about {
  background: url(../img/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-left: 200px;
  padding-bottom: 184px;
}
.display-none {
  display: none;
}
.about__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about__info-items {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.about__info-items .main__info-text {
  max-width: 534px;
}
.about__info-items .main__info-text:first-child {
  margin-bottom: 40px;
}
/*-----------------------------------*/
/* Projecty */
.start__screen-projecty {
  border-top: 1px solid #eff1f5;
  padding-top: 123px;
  padding-left: 201px;
}
.start__screen-projecty .main-title {
  font-family: "Gilroy";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;

  border-left: 1px solid #ff7129;
  padding-left: 16px;
  margin-bottom: 72px;
}
.projecty {
  padding-bottom: 153px;
}
.projecty__sliders-wrapper {
  overflow: visible;
}
.projecty__slider {
  overflow: visible;
}
.projecty__slider-slide {
  text-align: center;
}

.slider__navigation {
}
.projecty__slider .swiper-button-prev,
.projecty__slider .swiper-button-next {
  width: 56px;
  height: 56px;
  color: #fff;
  background-color: #ff7129;
  border-radius: 50%;
  padding: 0 auto;
}
.projecty__slider .swiper-button-prev::after,
.projecty__slider .swiper-button-next::after {
  font-size: 32px;
}
/* .projecty__slider .swiper-button-prev::after {
  content: "../img/prev.svg";
  display: block;
  width: 56px;
  height: 56px;
} */
.projecty__slider .swiper-pagination {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}
.slider__navigation {
  padding-top: 29px;
}
.swiper-pagination-current {
  font-size: 24px;
  color: #000;
}
.swiper-pagination-total {
  font-size: 16px;
  color: #7b7e85;
}
/*---------------------------------------------*/
/* Kontankt */
.start__screen-kontakt {
  border-top: 1px solid #eff1f5;
  padding-top: 125px;
  padding-left: 217px;
  padding-bottom: 64px;
}
.start__screen-kontakt .main-title {
  font-family: "Gilroy";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
}
.kontakt .container {
  padding-left: 201px;
}
.kontakt__wrapper {
  display: flex;
}
.kontakt__title {
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #7b7e85;
  padding-bottom: 12px;
}
.kontakt__info {
  max-width: 448px;
  margin-right: 151px;
}
.kontakt__info a {
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

  color: #20242d;
  padding-left: 12px;
}
.kontakt__info li {
  margin-bottom: 54px;
}
/*----------------------------------*/
/* Instalaja */
.start__screen-instalacja {
  background: url(../img/instalacja-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.start__screen-instalacja .main-title {
  font-family: "Gilroy";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 87px;
  letter-spacing: 0em;

  color: #fff;
  padding-top: 162px;
  padding-left: 401px;
  padding-bottom: 163px;
}
.instalacja .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instalacja {
  padding-top: 120px;
}
.instalacja__wrapper {
  max-width: 700px;
}
.instalacja__title {
  font-family: "Gilroy";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;

  padding-bottom: 32px;
  padding-left: 17px;
}
.instalacja__text {
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  color: #20242d;
}
.instalacja__text span {
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff7129;
}
.instalacja__info {
  padding-bottom: 64px;
}
.instalacja__info .instalacja__text {
  padding-bottom: 24px;
}
.instalacja__info .instalacja__text:last-child {
  padding-bottom: 0;
}
.instalacja__wrapper .instalacja__info:nth-child(3) {
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}
.instalacja__info:nth-child(4) {
  padding-top: 30px;
}
.instalacja__info img {
  margin-bottom: 24px;
}
.instalacja__info-wrapper {
  background-color: #f5f5f5;
  padding: 16px 24px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.instalacja__info-text {
  font-family: "Gilroy";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 650px;
}
.instalacja__info-text span {
  font-family: "Gilroy";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff7129;
}
.instalacja__text-semibold {
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #20242d;
  padding-bottom: 24px;
}
.instalacja__items {
  padding-bottom: 24px;
}
.instalacja__item {
  display: flex;

  max-width: 700px;
  background-color: #f2f2f2;
  padding: 8px 0px 8px 16px;
  margin-bottom: 16px;
}
.instalacja__item:last-child {
  margin-bottom: 0;
}
.instalacja__item .instalacja__item-text {
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  padding-left: 17px;
}

.instalacja__total {
  background-color: #f2f2f2;
  padding: 32px 24px;
  margin-bottom: 120px;
}
